In [1]:
# 모듈 불러오기

from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager

from selenium.webdriver.common.by import By
from selenium.webdriver import ActionChains

import pandas as pd

import time

import random

from tqdm import tqdm

In [10]:
# 1. 크롬 창 열기
# 경로 상에 문제가 있는 것으로 생각되어서 webdriver_manager를 통해 크롬창을 열기

driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))

In [21]:
# 2. 관광 데이터 랩 페이지에 접근하기

TARGET_SITE = 'https://datalab.visitkorea.or.kr/datalab/portal/loc/getTourDataFormBeta.do'
driver.get( TARGET_SITE )
time.sleep(2)

In [22]:
# 3. 전체로 설정하기

driver.find_element(By.CSS_SELECTOR, '#region1 > option:nth-child(1)').click()

In [ ]:
# 4. 페이지의 정보를 뽑아보자

info = []
# 10개가 넘으면 페이지를 넘겨서 계속 받기
for k in tqdm(range(72)):
    # 한 페이지에 10개의 항목을 담기
    for j in range(10*k+1, 10*(k+1)+1):
        driver.find_element(By.CSS_SELECTOR, f'#page{j}').click()
        # 한 페이지의 정보를 담기
        for i in range(10):
            info.append({
                '관광지명' : driver.find_element(By.CSS_SELECTOR, f'#areaTXNList >tr:nth-child({i+1}) > td:nth-child(2) > a').text,
                '광역'    : driver.find_element(By.CSS_SELECTOR, f'#areaTXNList > tr:nth-child({i+1}) > td:nth-child(3)').text 
            })
        # time.sleep(1)
    driver.find_element(By.CSS_SELECTOR, '#tablePaging > a.table-forward').click()

In [39]:
# 5. 데이터를 잘 추출했는지 확인하기 위해 len 함수를 사용 

len(info)

7121

In [40]:
# 6. 드라이브 종료

driver.close()

In [41]:
# 7. 만든 리스트를 데이터프레임으로 변경하기

df = pd.DataFrame(info)
df.head()

          관광지명       광역
0    (구)강경노동조합     충청남도
1  (구)한일은행강경지점     충청남도
2     1100고지습지  제주특별자치도
3        168계단    부산광역시
4    1913송정역시장    광주광역시

In [42]:
df.tail()

         관광지명       광역
7116  희방사(영주)     경상북도
7117    흰돌메공원     경상남도
7118  흰여울문화마을    부산광역시
7119    흰작살해변     경상남도
7120  힐리언스선마을  강원특별자치도

In [45]:
# 8. 데이터 프레임을 csv 파일로 저장하기

df.to_csv('C:/Users/최준철/Downloads/tour_info.csv', index = False)