## 알파벳을 분류해놓은 데이터셋

In [6]:
import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

paths = glob.glob('./notMNIST_small/*/*.png')
paths = np.random.permutation(paths)
features = np.array([plt.imread(paths[i]) for i in range(len(paths))])
label = np.array([paths[i].split('\\')[-2] for i in range(len(paths))])
print(features.shape, label.shape)

(18724, 28, 28) (18724,)

In [7]:
features = features.reshape(18724, 28, 28, 1)
label = pd.get_dummies(label)
print(label)
print(features.shape, label.shape)

       A  B  C  D  E  F  G  H  I  J
0      0  0  0  0  0  1  0  0  0  0
1      0  0  0  0  0  0  1  0  0  0
2      0  0  0  0  0  0  0  1  0  0
3      1  0  0  0  0  0  0  0  0  0
4      0  0  0  0  0  0  0  0  1  0
...   .. .. .. .. .. .. .. .. .. ..
18719  0  0  0  0  0  0  0  1  0  0
18720  1  0  0  0  0  0  0  0  0  0
18721  0  0  0  0  0  0  0  0  1  0
18722  0  0  0  0  0  1  0  0  0  0
18723  1  0  0  0  0  0  0  0  0  0

[18724 rows x 10 columns]
(18724, 28, 28, 1) (18724, 10)

In [8]:
import tensorflow as tf

In [9]:
X = tf.keras.layers.Input(shape = [28, 28, 1])

H = tf.keras.layers.Conv2D(6, kernel_size = 5, padding = 'same', activation = 'swish')(X)
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Conv2D(6, kernel_size = 5, activation = 'swish')(H)
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(120, activation = 'swish')(H)
H = tf.keras.layers.Dense(84, activation = 'swish')(H)
Y = tf.keras.layers.Dense(10, activation = 'softmax')(H)

model = tf.keras.models.Model(X, Y)
model.compile(loss = 'categorical_crossentropy', metrics = 'accuracy')

In [10]:
model.fit(features, label, epochs = 10)

Epoch 1/10
586/586 [==============================] - 18s 28ms/step - loss: 0.5449 - accuracy: 0.8441
Epoch 2/10
586/586 [==============================] - 16s 28ms/step - loss: 0.2895 - accuracy: 0.9150
Epoch 3/10
586/586 [==============================] - 16s 28ms/step - loss: 0.2399 - accuracy: 0.9274
Epoch 4/10
586/586 [==============================] - 16s 28ms/step - loss: 0.2092 - accuracy: 0.9374
Epoch 5/10
586/586 [==============================] - 16s 28ms/step - loss: 0.1871 - accuracy: 0.9425
Epoch 6/10
586/586 [==============================] - 16s 28ms/step - loss: 0.1658 - accuracy: 0.9488
Epoch 7/10
586/586 [==============================] - 16s 28ms/step - loss: 0.1492 - accuracy: 0.9534
Epoch 8/10
586/586 [==============================] - 16s 28ms/step - loss: 0.1349 - accuracy: 0.9563
Epoch 9/10
586/586 [==============================] - 16s 28ms/step - loss: 0.1225 - accuracy: 0.9598
Epoch 10/10
586/586 [==============================] - 16s 28ms/step - loss: 0.1092 - accuracy: 0.9661

In [11]:
pred = model.predict(features[0:5])
pd.DataFrame(pred).round(2)

1/1 [==============================] - 0s 322ms/step

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
3  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0

In [12]:
label[0:5]

   A  B  C  D  E  F  G  H  I  J
0  0  0  0  0  0  1  0  0  0  0
1  0  0  0  0  0  0  1  0  0  0
2  0  0  0  0  0  0  0  1  0  0
3  1  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  1  0